$color1:#259546;
$color2:#ff6d00;
$color3:#eb0f29;
$color4:#f0f0f0;
$color5:#969696;
$color6:#f5f5f5;
$colorB:#000;
$colorW:#fff;

@mixin layout {width:80%; margin:0 auto;}
@mixin font1{font-family: 'KBO-Dia-Gothic_medium'; font-weight:500;}
@mixin titleH1 {font-family: 'KBO-Dia-Gothic_bold'; font-weight:700; font-size:2rem;}
// @mixin titleP {font-family: 'KBO-Dia-Gothic-light'; font-weight:300;}


html,body {background-color: $color6;}
header {
    background-color:$colorW;
    border-bottom:1px solid rgba(129, 128, 128, 0.5);
    .container {
        // background-color: #c8c8c8;
        @include layout();
        display:flex; justify-content: space-between; align-items: center;
        position:relative; z-index:999;
        h1 {
            // background-color: lightblue; 
            a { img{width:100%;}}
        }
        .main_nav {
            // background-color: lightpink;
            > ul {
                display: flex; line-height:20px;
                justify-content: space-between;
                > li {
                    display:flex; flex-flow: column nowrap;
                    // background-color:lightsalmon;
                    position:relative;
                    > a {
                        // background-color:#ff6d00; 
                        @include font1;
                        line-height:50px;
                        margin-right:20px; 
                        // text-align: center;
                        display:block; 
                        width:150px;
                    }
                    // > a:last-child{margin-left:10px;}
                    .sub{
                        // background-color: wheat;
                        position:absolute; left:0; top:50px;
                        width:150px;
                        > li {
                            > a {
                                font-weight:500;
                                line-height:3;
                            }
                            > a:hover {color:$color1;}
                        }
                    }
                }
                // li:last-child > a {margin-left:30px;}
            }
        }
        .menu {
            // background-color: lightblue;
            display:flex; flex-flow: column wrap;
            display:none;
            .ham {
                display: block;
                // background-color: #259546;
                span {
                    display:block;
                    background-color: $colorB;
                    border-radius: 10px;
                    width:40px; height:7px;
                    margin:4px 0;
                }
            }
        }
        .re_nav {
            // background-color: pink;
            z-index: 999;
            display: none;
            > ul {
                display:flex; 
                justify-content: space-between;
                line-height: 20px;
                > li {
                    display: flex; flex-flow: column nowrap;
                    position: relative;
                    > a {
                        // background-color: #259546;
                        @include font1;
                        line-height: 50px;
                        margin-right: 20px; text-align: left;
                        width: 150px;
                    }
                    .sub {
                        // background-color: wheat;
                        position:absolute; left:0; top:50px;
                        width:150px;
                        > li {
                            > a {
                                font-weight:500;
                                line-height:3;
                            }
                            > a:hover {color:$color1;}
                        }
                    }
                }
            }
        }
        .re_nav_bg { 
            background-color: $colorW;
            width:100%; height:350px;
            position:absolute; left:0; top:100%; z-index:888;
            display:none;
        }
        .search {
            background-color:$colorW;
            display: flex; align-items: center;
            border:1px solid $colorB;
            border-radius: 20px;
            padding: 0 10px;
            input{
                border:none;outline:none;
                width:220px; height:30px;
                font-size:0.875rem;
            }
            button {
                // background-color: lime;
                width:18px;
                border:none;
                img {width:100%;}
            }
            
        }
    }
    .containerBg {
        background-color: $colorW; 
        width:100%; height:350px;
        position:absolute; left:0; top:0; z-index:888;
        display:none;
    }
}
#banner {
    background: lightcyan;
    display: block;
    background-image: url(../images/bnr1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%; height:100%;
    .bnr_wrap {
        // background-color: #259546;
        @include layout();
        height:600px; // 임시값
        a:first-child {
            // display: block;
            // background-image: url(../images/bnr1.jpg);
            // background-size: cover;
            // background-repeat: no-repeat;
            // width:100%; height:100%;
        }
        // a:last-child {
        //     display: block;
        //     background-image: url(../images/web_project_1/bnr1.jpg);
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     width:100%; height:100%;
        // }
    }
}
#shopping {
    // background-color: palegoldenrod;
    .container {
        // background-color: #c8c8c8;
        @include layout();
        padding:50px 70px;
        .title {
            h1 {@include titleH1; margin-bottom:15px;}
            p {font-weight:500;}
        }
        .contents {
            .tab {
                display:flex; justify-content:center;
                width:100%;
                position: relative;
                z-index: 999;
                
                h2 {
                    // background-color: lime; 
                    text-align: center;
                    padding:20px 0; 
                    margin:50px 40px 0;
                    width:23%;
                    // background-color:$colorW;
                }
                .active {
                    border-bottom:3px solid $color3;
                }
            }
            .product {
                overflow: hidden;
                .goods {
                    display:flex;
                    margin-top:30px;
                    // position: absolute; transform: translate(-50%, -50%);
                    a {
                        margin-right:20px;
                        justify-content: space-between;
                        transition:all 0.3s;
                        img {width:100%;}
                    }
                    a:last-child{margin-right:0;}
                    a:hover {
                        border:4px solid $color3;
                        // box-shadow:0 0 0 100px $color3 inset;
                    }
                }
                // .goods1 {display: none;}
                .goods2,.goods3,.goods4 {display:none;}
            }
        }
        .contents::before{
            content:''; width:100%; height:1px;
            background-color: #000; display:inline-block;
            position: relative; top:109px; z-index:888;
        }
    }
}
#month_event {
    // background-color: #c8c8c8;
    background: url(../images/month_event_bg.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    // filter:blur(5px);
    .container {
        // background-color: lightgreen;
        @include layout();
        padding:50px 70px;
        text-align: center;
        .title {
            > * {text-align:left;}
            h1 {@include titleH1; margin-bottom:15px;}
            p {font-weight:500;}
        }
        video {
            // background-color: #eb0f29;
            width:80%; 
            margin:0 auto;
            border-radius:50px;
            border:5px solid $colorW;
            // position:relative; top:0; left:10%;
            margin-top:50px;
        }
        .card {
            display:flex; justify-content: center;
            // background-color: lightblue;
            p {
                // background-color: lightgoldenrodyellow;
                width:13%;
                margin:50px 20px;
                img {width:100%;}
            }
        }
        h2 {
            // background-color: pink;
            @include titleH1;
            span {font-family: 'KBO-Dia-Gothic-bold'; font-weight:700; font-size:4rem; vertical-align:middle; margin:0 10px;}
            span:first-child {color:$color3;}
            span:last-child {color:$color1;}
        }
    }
}
#info_more {
    // background-color: lightseagreen;
    .container {
        @include layout();
        display:flex;
        // background-color: lightblue;
        padding:50px 0;
        > * {
            margin:0 auto; 
            width:40%; 
            height:100%;
            // background-color: lightcyan;
            > .info_bg {
                width:90%; 
                height:220px;
                // background-image:url(../images/info_more_bg1.jpg);
                background-size:cover;
                background-repeat: no-repeat;
                border-radius:30px;
                background-position: center;
            }
            > .info_bg1  {background-image:url(../images/info_more_bg1.jpg);}
            > .info_bg2  {background-image:url(../images/info_more_bg2.jpg);}
            > .btm_title {
                display: flex; justify-content: space-between;
                margin-top:10px;
                .title_l {
                    // background-color: palegoldenrod;
                    h1 {
                        font-size:1.4rem; margin-bottom:10px;
                        span{font-weight:700; font-size:1.4rem;}
                    }
                }
                a { border:1px solid $colorB; border-radius: 50px; padding:15px 30px; border-radius: 50px; font-size:1.2rem; font-weight:700;}
                a:hover {background-color:$color1; color:$colorW; border:none;}
            }
        }
    }
}
footer {
    background-color:$color4;
    // background-image: url(../images/bg.png);
    // background-size: cover;
    border-top:1px solid $colorB;
    .container {
        @include layout();
        display:flex; flex-flow:column wrap;
        .f_top{
            display: flex; justify-content: space-between;
            // background-color: lightblue;
            margin-top:40px;
            h1{img{width:100%;}}
            .top_right{
                display:flex; justify-content: space-between;
                // background-color: lightcoral;
                width:50%;
                dl {
                    dt{font-weight:600; font-size: 1.2rem; margin-bottom:15px;}
                    dd{margin:10px 0;}
                }
                form {
                    fieldset {
                        // background-color: pink;
                        text-align: center;
                        legend {}
                        #site {
                            background-color: rgba(0,0,0,0.5); color:$colorW;
                            border:2px solid red;
                            width:200px;
                            padding:7px 0;
                            border:none; outline:none;
                            option {}
                        }
                        button {
                            background-color: $colorW; border:1px solid $colorB; border-radius:100px;
                            padding:10px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .f_btm {
            display: flex; justify-content: space-between; 
            // background-color:red;
            .btm_left {
                display:flex; flex-flow:column wrap; justify-content: space-around;
                ul {display:flex;
                    li {
                        a {}
                        a:first-child {margin-right:10px;}
                    }
                }
                p {line-height:1.5;}
            }
            .btm_right {
                address {line-height:1.5;}
            }
        }
    }
}