// 전체넓이는 1600px
$colorMain1: #ED4264;
$colorMain2: #FFEDBC;
$colorMain3: #FFD4D4;
$colorMain4: #A6A5A5;
$colorB:#000;
$colorW:#fff;
$fontNotoSerif:'Noto Serif KR',serif;
$fontInter:'inter',sans-serif;
$fontCormorant:'cormorant garamond',serif;
$fontW300:300;
$fontW400:400;
$fontW500:500;
$fontW600:600;
$fontW700:700;
$fontW800:800;
$fontW900:900;
@mixin bigLayout {width:1600px; height:100vh; margin:0 auto;}
@mixin title {font-size:3rem; font-family: $fontInter; font-weight: $fontW800; padding:100px 0;}
@mixin title2 {font-size:1.5rem; font-family: $fontInter; font-weight: $fontW800;}
@mixin title3 {font-size:1.7rem; font-family: $fontInter; font-weight: $fontW800;}
@mixin titleBig {font-size:7rem; line-height:1.5; font-family: $fontCormorant; font-weight:$fontW700;}
@keyframes arrow {
    0% {transform:translateY(0px)}
    100% {transform:translateY(-50px)}
}
@keyframes titleUp {
    0% {transform:translateY(0px)}
    100% {transform:translateY(5px)}
}


//s:wrap
.wrap{
    overflow-x: hidden;
    #intro {
        margin: 0px auto; width: 100%; height: 100vh;
        background: radial-gradient(rgb(237, 66, 100,0.5), rgb(255, 237, 188,0.3) 70%);
        .container {
            h1 {padding-top:220px; padding-left:200px; width:1800px;
                img {width:100%;}
            }
            p {margin:150px auto 0; width:40px;
                animation: arrow 1.1s infinite alternate;
                img{width:100%;}
            }
        }
    } // e:intro
    #info{
        width: 100%; height: 100vh;
        background: radial-gradient(at 30%,rgb(237, 66, 100,0.5), rgb(255, 237, 188,0.3) 70%);
        .container{
            width:1600px; margin:0 auto; height:100vh;
            display:flex; 
            // justify-content: space-around; 
            justify-content:center; 
            align-items: center;
            h1 {
                width:500px;
                margin-right:200px;
                img{width:100%;}
            }
            .contents {
                display:flex;
                .aboutMe, .skillTool {
                    h2 {
                        span {
                            font-size:2.7rem; font-family: $fontCormorant; font-weight:$fontW700; margin-bottom: 20px;
                            display:inline-block;
                            animation:titleUp 1.3s ease infinite alternate;
                        }
                        span:nth-child(1){
                            animation-delay:1s;  
                        }
                        span:nth-child(2){
                            animation-delay:1.2s;
                        }
                        span:nth-child(3){
                            animation-delay:1.4s;
                        }
                        span:nth-child(4){
                            animation-delay:1.6s;
                        }
                        span:nth-child(5){
                            animation-delay:1.8s;
                        }
                        span:nth-child(6){
                            animation-delay:2s;
                        }
                        span:nth-child(7){
                            animation-delay:2.2s;
                        }
                        span:nth-child(8){
                            animation-delay:2.4s;
                        }
                        span:nth-child(9){
                            animation-delay:2.6s;
                        }
                        span:nth-child(10){
                            animation-delay:2.8s;
                        }
                    }
                }
                .aboutMe {
                    margin-right:50px;
                    dl {
                        display:grid;
                        grid-template-columns:1fr 2fr;
                        > * {margin:10px 0;}
                        dt{font-family: $fontNotoSerif; font-size:1.2rem; font-weight: $fontW600; margin-right:20px;}//e:dt
                        dd{font-family: $fontNotoSerif; font-size:1.2rem; line-height:1.5;}//e:dd
                    }
                }//e:aboutME
                .skillTool {
                    ul {display:grid; grid-template-columns: repeat(3,1fr);
                        li {
                            display:inline-block; width:50px;
                            margin:10px 15px 10px 0;
                            img{width:100%;}
                        }
                    }
                }//e:skilltool
            }//e:contents
        }//e:container
    }
    #banner {
        .container{
            @include bigLayout(); 
            background-color: lightcyan;
            h1 {@include title();}
            .container_btm{
                position:relative;
                margin:80px 0 0;
                // overflow:hidden;
                .all_contents {
                    background:linear-gradient(to left,rgba(255, 237, 188, 1), rgba(237, 66, 100, 1),rgba(255, 237, 188, 1));
                    overflow-Y:visible;
                    overflow-x:hidden;
                    // display:flex; flex-flow:row wrap; align-content: center;
                    width:80%;
                    height:380px;
                    // height:max-content;
                    .contents {
                        // overflow: visible;
                        .swiper-slide {
                            display:flex; flex-flow:row wrap; align-content: center;
                            // overflow: visible;
                            overflow:hidden;
                            a {
                                img{width:100%;}
                            }
                        }//e:swiper-slide
                        .active {
                            transform:scale(1.2);
                            // overflow-y: visible;
                            overflow: visible;
                        }
                        // .active_none {transform:scale(1); overflow:hidden;}
                    }//e:contents
                    
                }//e:all_contents
                .swiper-pagination {
                    // background: lime;
                    display:flex; justify-content: center; align-items: center;
                    bottom:-70px;
                }
                .swiper-pagination-bullet {
                    // background:$colorMain3;
                    // width:10px; height:10px; opacity: 1; 
                    width:10px; height:10px; background:transparent; border: 1px solid $colorMain3; opacity: 1; 
                }
                .swiper-pagination-bullet:hover {transform:scale(1.5);}
                .swiper-pagination-bullet-active { width:50px; height:15px; border-radius: 10px; background: $colorMain3; border: 1px solid transparent;}
                .swiper-pagination-bullet-active:hover {transform:scale(1);}
                .swiper-button-next:after,
                .swiper-button-prev:after {
                    display: none;
                }
            }
        }
    }
    #detail {
        .container {
            @include bigLayout();
            background-color: aquamarine;
            h1 {@include title();}
            .detail_contents {
                display:grid; grid-template-columns: repeat(3,1fr);
                .contents {
                    justify-content: center; 
                    text-align: center;
                    h2 {
                        background-color: #ED4264;
                        display:inline-block;
                        @include title2(); margin-bottom:10px; text-align:left;
                        width:380px;
                    }
                    a {background-color:#FFD4D4;
                        display:inline-block;
                        width:380px;
                        position:relative;
                        img{width:100%;}
                        p {
                            @include title2(); 
                            font-size:2rem;
                            font-weight:700;
                            position:absolute; left:130px; top:180px;
                            // 포지션 위치 조정해야함.
                            // background-color: #fff; 
                            padding:30px 10px;
                            border:2px solid #000;
                            border-radius:150px;
                        }
                    }
                } //e:공통 contents
            }
        }
    }
    #redesign {
        .container {
            background-color: #FFEDBC;
            @include bigLayout();
            h1{@include title();}
            .swiper {
                .swiper-wrapper{
                    .swiper-slide {
                        h2 {
                            @include title2();color:$colorMain4;
                            margin-bottom:20px;
                            span {@include title2(); color:$colorB; }
                        }
                        .contents{
                            display:flex;
                            background-color:pink;
                            position:relative;
                            .redesign_img {
                                width:600px;
                                position:relative;
                                z-index:999;
                                img {width:100%;}
                            }
                            .contents_info {
                                display: grid; grid-template-columns: repeat(2,1fr);
                                // border:2px solid #000;
                                height:max-content;
                                position:absolute; top:70px; right:150px;
                                background-color: aqua;
                                .page_info {
                                    width:300px; 
                                    height:180px;
                                    margin:15px 30px;
                                    z-index:999;
                                    h3 {@include title3(); margin-bottom:10px;}
                                    dl {
                                        display:grid; grid-template-columns:1fr 3fr;
                                        > * {line-height: 1.5;}
                                        dt {font-size:1.1rem; font-weight:700;}
                                        dd {}
                                    }
                                }
                                .work_info {
                                    background-color: #ED4264; border:2px solid green;
                                }
                                .color_used {
                                    background-color: lightblue;
                                    > * > * {font-size:1.1rem; font-weight:700;}
                                    h3{}
                                    .color_top {
                                        p {
                                            background-color: plum;
                                            line-height:50px;
                                            margin-bottom:10px;
                                        }
                                    }
                                    .color_bottom {
                                        display: flex; justify-content: space-between;
                                        p:first-child {
                                            background-color: #eee;
                                            display:inline-block;
                                            line-height:50px;
                                            width:180px;
                                        }
                                        p:last-child {
                                            background-color: yellow;
                                            display:inline-block;
                                            line-height:50px;
                                            width:200px;
                                        }
                                    }
                                }
                                .over_view {
                                    background-color: lightseagreen;
                                    p {line-height: 1.5;}
                                }
                                .all_link {
                                    // background-color: seagreen;
                                    font-size:1.1rem; font-weight:700;
                                    text-align: center;
                                    a {
                                        background-color:$colorMain2;
                                        display:inline-block; width:45%;
                                        padding:15px;
                                        border-radius: 50px;
                                        margin:10px 0;
                                        border:1px solid $colorB;
                                    }
                                    .active {background-color: $colorMain1; border:1px solid $colorB;}
                                }
                            }//e:contents_info
                            .contents_info::before {
                                content:''; width:1000%; height:100%; display:inline-block; 
                                background-color:red; 
                                position:absolute; left:-200px; z-index: 888;
                            }
                        }//e:contents
                    }// e: swiper-slide

                    /* .swiper-button-prev {}
                    .swiper-button-next {} */

                }//e:swiper-wrapper
            }//e:swiper-container
        }//e:container
    }
    #footer {
        .container {
            @include bigLayout();
            background-color: $colorMain3;
            position:relative;
            h1 {@include titleBig; padding:100px;}
            p {padding-top:350px; padding-left:50px; line-height:1.5;}
            .arrow {
                position:absolute; right:100px; top:100px;
                width:50px;
                animation: arrow 1.1s infinite alternate;
                img{width:100%;}
            }
        }
    }
} // e:wrap 