header {
  background-color: #ff0;
}
header .container {
  background-color: #c8c8c8;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
header .container h1 {
  background-color: lightblue;
}
header .container h1 a img {
  width: 100%;
}
header .container > nav {
  background-color: lightpink;
  display: none;
}
header .container > nav > ul {
  display: flex;
  line-height: 20px;
  justify-content: space-between;
}
header .container > nav > ul > li {
  display: flex;
  flex-flow: column nowrap;
  background-color: lightsalmon;
  position: relative;
}
header .container > nav > ul > li > a {
  background-color: #ff6d00;
  font-family: "KBO-Dia-Gothic-medium";
  font-weight: 500;
  line-height: 50px;
  margin-right: 20px;
  text-align: left;
  display: block;
  width: 150px;
}
header .container > nav > ul > li .sub {
  background-color: wheat;
  position: absolute;
  left: 0;
  top: 50px;
  width: 150px;
}
header .container > nav > ul > li .sub > li > a {
  font-weight: 500;
  line-height: 3;
}
header .container > nav > ul > li .sub > li > a:hover {
  color: #259546;
}
header .container .menu {
  background-color: lightblue;
  display: flex;
  flex-flow: column wrap;
}
header .container .menu > .ham {
  display: block;
  background-color: #259546;
}
header .container .menu > .ham span {
  display: block;
  background-color: #000;
  border-radius: 10px;
}
header .container .search {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 10px;
}
header .container .search input {
  border: none;
  outline: none;
  width: 220px;
  height: 30px;
  font-size: 0.875rem;
}
header .container .search button {
  width: 18px;
  border: none;
}
header .container .search button img {
  width: 100%;
}
header .containerBg {
  background-color: #fff;
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 888;
  display: none;
}

#banner {
  background: lightcyan;
}
#banner .bnr_wrap {
  background-color: #259546;
  width: 75%;
  margin: 0 auto;
  height: 600px;
}
#banner .bnr_wrap a:first-child {
  display: block;
  background-image: url(../images/web_project_1/bnr1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#banner .bnr_wrap a:last-child {
  display: block;
  background-image: url(../images/web_project_1/bnr1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#shopping {
  background-color: palegoldenrod;
}
#shopping .container {
  background-color: #c8c8c8;
  width: 75%;
  margin: 0 auto;
  padding: 50px 70px;
}
#shopping .container .title h1 {
  font-family: "KBO-Dia-Gothic-bold";
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 15px;
}
#shopping .container .title p {
  font-weight: 500;
}
#shopping .container .contents .tab {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #000;
}
#shopping .container .contents .tab h2 {
  background-color: lime;
  text-align: center;
  padding: 20px 0;
  margin: 50px 40px 0;
  width: 120px;
}
#shopping .container .contents .product .goods {
  display: flex;
  margin-top: 30px;
}
#shopping .container .contents .product .goods a {
  margin-right: 20px;
  justify-content: space-between;
}
#shopping .container .contents .product .goods a img {
  width: 100%;
}
#shopping .container .contents .product .goods a:last-child {
  margin-right: 0;
}
#shopping .container .contents .product .goods2, #shopping .container .contents .product .goods3, #shopping .container .contents .product .goods4 {
  display: none;
}

#month_event {
  background-color: #c8c8c8;
}
#month_event .container {
  background-color: lightgreen;
  background-image: url(../images/web_project_1/month_event_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  margin: 0 auto;
  padding: 50px 70px;
  text-align: center;
}
#month_event .container .title > * {
  text-align: left;
}
#month_event .container .title h1 {
  font-family: "KBO-Dia-Gothic-bold";
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 15px;
}
#month_event .container .title p {
  font-weight: 500;
}
#month_event .container video {
  background-color: #eb0f29;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 5px solid #fff;
  margin-top: 50px;
}
#month_event .container .card {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}
#month_event .container .card p {
  background-color: lightgoldenrodyellow;
  width: 13%;
  margin: 50px 20px;
}
#month_event .container .card p img {
  width: 100%;
}
#month_event .container h2 {
  background-color: pink;
  font-family: "KBO-Dia-Gothic-bold";
  font-weight: 700;
  font-size: 2rem;
}
#month_event .container h2 span {
  font-family: "KBO-Dia-Gothic-bold";
  font-weight: 700;
  font-size: 4rem;
  vertical-align: middle;
  margin: 0 10px;
}
#month_event .container h2 span:first-child {
  color: #eb0f29;
}
#month_event .container h2 span:last-child {
  color: #259546;
}

#info_more {
  background-color: lightseagreen;
}
#info_more .container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  background-color: lightblue;
  padding: 50px 0;
}
#info_more .container > * {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  background-color: lightcyan;
  /* > p{
      margin-bottom:10px;
      img{width:100%; height:200px;}
  } */
}
#info_more .container > * > .info_bg {
  width: 100%;
  height: 180px;
  background-image: url(../images/web_project_1/info_more_bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}
#info_more .container > * > .btm_title {
  display: flex;
  justify-content: space-between;
}
#info_more .container > * > .btm_title .title_l {
  background-color: palegoldenrod;
}
#info_more .container > * > .btm_title .title_l h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
#info_more .container > * > .btm_title .title_l h1 span {
  font-weight: 700;
  font-size: 1.4rem;
}
#info_more .container > * > .btm_title a {
  background-color: #969696;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

footer {
  background-color: lightsalmon;
}
footer .container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}
footer .container .f_top {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  margin-top: 40px;
}
footer .container .f_top .top_right {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  width: 700px;
}
footer .container .f_top .top_right dl dt {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
footer .container .f_top .top_right dl dd {
  margin: 10px 0;
}
footer .container .f_top .top_right form fieldset {
  background-color: pink;
  text-align: center;
}
footer .container .f_top .top_right form fieldset #site {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid red;
  width: 200px;
  padding: 7px 0;
  border: none;
  outline: none;
}
footer .container .f_top .top_right form fieldset button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 10px;
  text-align: center;
}
footer .container .f_btm {
  display: flex;
  justify-content: space-between;
  background-color: red;
  margin-top: 150px;
}
footer .container .f_btm .btm_left {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
footer .container .f_btm .btm_left ul {
  display: flex;
}
footer .container .f_btm .btm_left ul li a:first-child {
  margin-right: 10px;
}
footer .container .f_btm .btm_right address {
  line-height: 1.5;
}/*# sourceMappingURL=web_project_1.css.map */